Flask==0.9
Jinja2==2.6
Pyrex==0.9.8.6
Werkzeug==0.8.3
bzr==2.5b2
cov-core==1.7
coverage==3.5.2
mercurial==1.9.3
mock==1.0b1
py==1.4.9
pytest==2.2.4
pytest-cov==1.6
ssh==1.7.11
virtualenv==1.6.4
virtualenvwrapper==2.10.1
wsgiref==0.1.2
